body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  height: 100vh;
}

.sidebar-container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25em;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

main img {
  max-width: 40%;
  max-height: auto;
}

.profile-info {
  display: flex;
  align-items: center; /* Vertically align the image and text */
}

.imageCircle {
  border-radius: 50%;
  max-height: 3rem;
}

.noMargin {
  margin: 0;
}

.user {
  width: 100%;
}
