
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.sidebar-container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20em;
  height: 100vh;
}

.border {
  border: 1px solid lightgray;
  width: 100%;
}

.newChatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.newChat {
  background-color: rgb(178, 159, 216);
}

main {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  max-width: 25%;
  max-height: auto;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.imageCircle {
  border-radius: 50%;
  max-height: 3rem;
}

.noMargin {
  margin: 0;
}

.user {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.gris {
  color: gray;
}
